<footer class="footer">
  <div class="container">
    <div class="content">
      <p class="has-text-centered">Copyright ©2019 <a href="https://devmentors.io/">DevMentors.io</a>.</p>
    </div>
  </div>
</footer>
